<!DOCTYPE html>
<html>
	<head>
		<title>Love it or Leave it</title>
	</head>

	<body>
		<nav>
			<ul>
				<li><a href="/foods">Fav Foods</a></li>
				<li><a href="/animals">Fav Animals</a></li>
				
				<li><a href="/movies">Least Fav Movies</a></li>
				<li><a href="/products">Least Fav Products</a></li>
			</ul>
		</nav>

		<%- body %>
	</body>
</html>