<!DOCTYPE html>
<html>
	<head>
		<title>Love it or Leave it</title>
	</head>

	<body>
		<nav>
			<ul>
				<li><a href="/love-it/foods">Fav Foods</a></li>
				<li><a href="/love-it/animals">Fav Animals</a></li>

				<li><a href="/leave-it/movies">Least Fav Movies</a></li>
				<li><a href="/leave-it/products">Least Fav Products</a></li>
			</ul>
		</nav>

		<%- body %>
	</body>
</html>